
.image-container {
  width: max-content;
  overflow-x:hidden;
  animation: moveSlideshow 40s linear infinite;
}

.image-container img {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}

@keyframes moveSlideshow {
  100% { 
    transform: translateX(-80%);  
  }
}