.animate-marquee {
  animation: marquee 20s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.slick-slider {
  display: flex !important;
  gap: 24px;
}
.slick-track {
  display: flex !important;
  gap: 24px;
}


.image-container {
  width: max-content;
  overflow-x:hidden;
  animation: moveSlideshow 20s linear infinite;
}

.image-container img {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  margin: 0;
}

@keyframes moveSlideshow {
  100% { 
    transform: translateX(-100%);  
  }
}
